---
---

@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

html {
box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit;
}

img {
display: block;
max-width: 100%;
}

body {
font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
font-smooth: auto;
font-style: normal;
font-variant: normal;
font-size: 100%;
line-height: 1.8;
margin: 0;
text-rendering: auto;
-moz-osx-font-smoothing: auto;
-webkit-font-smoothing: antialiased;
}

// Alert

.alert {
background-color: tomato;
padding: 1em;
color: white;
text-align: center;
}


// Skip Navigation

#skip-nav {
background-color: rgba(0, 0, 0, .3);
color: #fff;
left: -200px;
min-width: 200px;
opacity: 0;
padding: 5px;
position: absolute;
text-align: center;
top: 5px;
z-index: 2;

  &:focus {
  left: 5px;
  opacity: 1;
  }

}

#banner {
background-color: #000F46;
background-image: url("../img/background-2.jpg");
background-size: contain;
padding: 2vw;
position: relative;
text-align: center;

  @media(min-width: 778px) {

    background-size: auto;

  }

  a {
  display: inline-block;
  width: 30%;
  }

  img {
  border-radius: 50%;
  border: 5px #fff solid;
  display: inline-block;
  max-width: 100%;
  }

}

#primary-navigation {

  ul {
  margin: 1vw 0 0;
  padding: 0;
  list-style: none;
  }

  li {
  display: inline-block;
  }

  a {
  padding: 0.6em;
  color: #fff;
  text-align: center;
  min-width: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  }

}

h1 {
text-align: center;
font-size: 2.4rem;

  span {
  display: block;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: normal;
  }

}

h1, h2 {
line-height: normal;
}

h2 {
font-size: 1.5em;
}

main, footer {
margin: 1em;
font-size: 1.4em;
}

#social {
margin: 0;
padding: 0;
list-style: none;

  li {
  display: inline-block;

    &:not(:last-child) {
    margin-right: 1em;
    }

  }

  a {
  text-decoration: none;
  }

}

#share-button {
border-radius: 5px;
display: none;
border: 0;
padding: 1em;
color: #fff;
background-color: #06416D;
font-size: 1em;

  @media(display-mode: fullscreen) {

    display: block;

  }

}
