---
---

@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
@import url("monokai.css");

html {
box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit;
}

a {
color: #4a2376;

	@media (prefers-color-scheme: dark) {

		color: #6f459d;

	}

	&[target="_blank"] {

		&:after {
		background-color: transparent;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAclBMVEUAAAAWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmEWJmGEDiaiAAAAJXRSTlMAgMjOaRL0vvZfDrOkt26hhvrCjHXb2NKrmXlkW0QzJQhMLCQc4w6HOwAAAONJREFUOMvNkFkWgyAMRR9VpNXiVDvP0/63WGpEOETtb+8HJ/AuRgJOuoxUR12fwYnfHmtwhC9EAJ7H46LnlJ/vvjADVlR5R00pDnlid4t3gMKXvLKCCoUahqX73tasVeKY6z5PWmFm1jKVqUVKoGhzEfdCAw+bazhBwOL6Z0A5LBRdTgNYk8Dv25nvSAhzTZuTaG4k8PtS60xdAJDAcshvcQiFvesv56aKA+Fl+48Jt4zuDwqENs+aFHDFDwH/K8TgJPY8MoUSjLIy5zkJo5BQTAjt2B7j+Qotl/1mG3E2in79A5rTPUZPwwJQAAAAAElFTkSuQmCC);
		background-position: center right;
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		display: inline-block;
		height: 14px;
		margin-left: 10px;
		vertical-align: middle;
		width: 14px;
		}

		&:focus, &:hover {

			&:after {
			opacity: .8;
			}

		}

		&.no-icon {

			&:after {
			display: none;
			}

		}

  }

}

.sr-only:not(:focus):not(:active) {
clip: rect(0 0 0 0);
clip-path: inset(100%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

video {
width: 100%;
}

figure {
margin: 1em 0;


	.h-post & {
	margin-left: -72px;

		@media(min-width: 680px) {

			margin-left: 0;

		}

	}

	img {
	border-radius: 10px;
	border: 1px #ccc solid;

		.h-post & {

			height: 200px;
			object-fit: cover;
			object-position: center;
			width: 100%;


				@media(min-width: 680px) {

					height: 400px;

				}

		}

	}

}

article > article {

	@media(min-width: 600px) {

		margin-left: 2em;

	}

}

figcaption {
color: #333;
font-style: italic;
font-size: 18px;
margin: .5em 0 0;
}

blockquote {
color: #666;
}

// Code Blocks

code {
background-color: #151d27;
background-image: linear-gradient(130deg, #263343 0%, #263343 21%, #151d27 68%, #151d27 100%);
border-radius: 5px;
color: #fff;
display: inline-block;
margin: 1px;
padding: .2em 1em;
word-wrap: break-word;
}

pre {
white-space: pre;
white-space: pre-wrap;
word-wrap: break-word;

	code {
	display: block;
  margin: 0;
  padding: 1em;

		strong {
		color: rgb(180, 220, 246);
		}

    b {
    color: tomato;
    }

	}

}

img {
display: block;
max-width: 100%;

	.h-post & {

		&:not(.post-img) {

			max-width: none;

		}

	}

}

body {
font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
font-size: 100%;
font-smooth: auto;
font-style: normal;
font-variant: normal;
line-height: 1.8;
margin: 0;
text-rendering: auto;
-moz-osx-font-smoothing: auto;
-webkit-font-smoothing: antialiased;

	@media (prefers-color-scheme: dark) {

		background-color: black;
		color: white;

	}

	&:before {

		background-color: #a90329;
		color: white;
		content: "Pardon the mess! This site is undergoing an open redesign.";
		display: block;
		font-size: 0.8em;
		margin: 0;
		padding: 0.9em 3em;
		text-align: center;

		@media(min-width: 778px) {

			font-size: 1em;

		}

	}

}

// Skip Navigation

#skip-nav {
background-color: rgba(0, 0, 0, .3);
color: #fff;
left: -200px;
min-width: 200px;
opacity: 0;
padding: 5px;
position: absolute;
text-align: center;
top: 5px;
z-index: 2;

  &:focus {
  left: 5px;
  opacity: 1;
  }

}

#banner {
background-color: #0295FF;
background-image: url("../img/background-3.jpg");
background-size: cover;
padding: 2vw;
position: relative;
text-align: center;

	@media (prefers-color-scheme: dark) {

		background-color: {{site.theme-color}};
		background-image: url("../img/background-2.jpg");

	}

  @media(min-width: 778px) {

    background-size: auto;

  }

  a {
  display: inline-block;
  width: 30%;
  }

  img {
  border-radius: 50%;
  border: 5px #fff solid;
  display: inline-block;
  max-width: 100%;
  }

	&.minify {
	padding: 1em;
	position: relative;
	background-image: none;

		img {
		left: -45px;
		position: absolute;
		top: -70px;
		transform: rotate(-18deg) scale(0.4);
		z-index: 2;
		}

		nav {
		display: none;
		position: absolute;
		right: 1em;
		top: 0;

			@media(min-width: 778px) {

				display: block;

			}

			ul {
			margin-top: .8vw;
			}

			a {
			font-size: 0.9em;
			padding: 0.3em;
			}

		}

	}

}

#webmentions-logo {
position: absolute;
top: 0;
right: 0;
z-index: 1;

	&::before {
	border-left: 50px solid transparent;
	border-top: 50px solid white;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;

		@media(min-width: 680px) {

			border-left-width: 100px;
			border-top-width: 100px;

		}

	}

	img {
	width: 26px;
	position: relative;

		@media(min-width: 680px) {

			width: 52px;

		}

	}

}

#primary-navigation {

  ul {
  list-style: none;
  margin: 1vw 0 0;
  padding: 0;
  }

  li {
  display: inline-block;
	margin-bottom: 5px;
  }

  a {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
	display: block;
  color: #fff;
  min-width: 100px;
  padding: 0.6em;
  text-align: center;
  }

}

h1 {
font-size: 2.4rem;
margin-bottom: 10px;

	#index & {
	text-align: center;
	margin-bottom: 1em;
	}

  span {
  display: block;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: normal;
  }

}

h1, h2 {
line-height: normal;
}

h2 {
font-size: 1.5em;
}

time {
display: block;
margin-bottom: 1em;
}

main, footer {
font-size: 1.4em;
margin: 1em;
}

.h-post {
display: flex;
align-items: flex-start;
position: relative;
width: 100%;
margin-bottom: 1em;
padding: 10px;

	@media(min-width: 680px) {

		padding: 1em;

	}

	h2 {
	margin: 3px 0 10px;
	font-size: 1.2em;
	line-height: normal;

		a {

			// Where the magic happens...

			&::before {
			bottom: 0;
			content: "";
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			}


				&:focus, &:hover {

					&::before {
					background-color: #ccc;
					opacity: .1;
					border-radius: 10px;
					border: 5px #888 solid;
					}

				}

		}

	}

	time {
	color: #888;
	font-weight: bold;
	font-size: 0.9em;
	}

	div {
	margin-right: 1em;

		&:last-child {
		margin-right: 0;
		}


		> img {
		border-radius: 50%;
		}

		p {
		font-size: .9em;
		}

	}

}

#social {
list-style: none;
margin: 0;
padding: 0;

  li {
  display: inline-block;

    &:not(:last-child) {
    margin-right: 1em;
    }

  }

  a {
  text-decoration: none;
  }

}

#share-button {
background-color: #06416D;
border-radius: 5px;
border: 0;
color: #fff;
display: none;
font-size: 1em;
padding: 1em;

	@media(display-mode: minimal-ui) {

		display: block;

	}

	&::before {
	content: "\f064";
	display: inline-block;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
	margin-right: 5px;
	}

}

.fa-creative-commons {
vertical-align: middle;
}

.post-img {

	@media(min-width: 680px) {

		max-width: 680px;

	}

}

// How to Host an Infographic (HTML Fallback)
// NOTE: Styles removed from HTML version. To place back, remove "-off" from ".info-graphic-off" below.

.info-graphic {

	li {
	font-weight: bold;

		p {
		font-weight: normal;
		}

	}

}

.info-graphic-off {
border: 2px #ccc solid;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 0.7em;
padding: 20px 40px;

	h2 {
	border-bottom: 6px #000 solid;
	color: purple;
	font-size: 2.1em;
	margin: 0;
	padding-bottom: 10px;
	text-transform: uppercase;

		&::before {
		background-image: url("https://www.gravatar.com/avatar/89e429d4a3effa9601cd19a851c0003e.jpg");
		background-size: cover;
		border-radius: 50%;
		content: "";
		display: inline-block;
		font-weight: bold;
		height: 100px;
		margin-right: 0.5em;
		vertical-align: middle;
		width: 100px;
		}

	}

	.infographic-subheading {
	display: flex;
	flex-wrap: wrap;

		span {
		flex: 0 50%;

			&:nth-child(2) {
			text-align: right;
			}

		}

	}

	.info-graphic-content {
	display: flex;
	flex-wrap: wrap;
	line-height: 1.5;
	list-style: none;
	margin: 2em 0 0;
	padding: 0;

		li {
		align-items: center;
		display: flex;
		flex: 0 50%;
		margin-bottom: 2em;
		}

		h3 {
		background-color: purple;
		border-radius: 50%;
		border: #673B9D 4px solid;
		color: #fff;
		font-weight: normal;
		height: 100px;
		margin: 0 1em 0 0;
		min-width: 100px;
		text-align: center;

			i {
			display: block;
			font-size: 40px;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			}

			span {
			@extend .sr-only;
			}

		}

		p {
		margin: 0 1em 0 0;vertical-align: middle;
	 	}

	}

	.infographic-source {
	font-weight: bold;
	margin-bottom: 0;
	text-align: right;

		a {
		color: #000;
		text-decoration: none;
		}

	}

}

#indiewebring {
background-color: lighten({{ site.theme-color }}, 5%);
border-radius: 5px;
bottom: 15px;
right: 15px;
padding: 4px;
position: fixed;
color: #fff;

	ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}

	li {
	display: inline-block;
	}

	a {
	color: inherit;
	display: inline-block;
	margin: 0 4px;
	text-decoration: none;
	}

}

footer {

	small {
		font-size: initial;
	}

}

time {
color: #666;
}

.u-author {

	time {
	display: inline-block;
	margin: 0;
	}

	img {
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	}

}
