---
description: Spell is a web developer, designer and accessibility specialist living in beautiful Allentown, PA. In his spare time, he can be found restoring retro arcade machines.
metatitle: Michael Spellacy (Spell) - Front-end developer, designer and accessibility specialist
---

<h1>Michael "Spell" Spellacy <span>Front-end developer, designer and accessibility specialist in  Allentown, PA</span></h1>

{% for post in site.posts %}

{% if post.tags contains "Notes" %}

<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

<time datetime="{{ post.date }}"><b>{{ post.date | date: "%B %d, %Y" }}</b></time>

{% if post.mf-photo %}

  <img src="{{post.mf-photo}}" class="post-img" alt="">

{% endif %}

{{ post.content }}

{% endif %}

{% endfor %}

{% for category in site.tags %}

<h2>{{ category[0] }}</h2>

<ul>
{% for post in category[1] %}

  <li>

      <a href="{{ post.url }}">{{ post.title }}</a>

      <p><b>Published on {{ post.date | date: '%B %d, %Y' }}</b></p>

  </li>

{% endfor %}
</ul>

{% endfor %}
