---
description: Spell is a web developer, designer and accessibility specialist living in beautiful Allentown, PA. In his spare time, he can be found restoring retro arcade machines.
metatitle: Michael Spellacy (Spell) - Front-end developer, designer and accessibility specialist
---

<h1>Michael "Spell" Spellacy <span>Front-end developer, designer and accessibility specialist in  Allentown, PA</span></h1>

<div class="article-group">

  {% for post in site.posts %}

  {% if post.tags contains "Notes" %}

  <article class="h-entry h-post">

    <div>

      <img src="{{ site.author-image }}?s=50" alt="">

    </div>

    <div>

      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

      <time datetime="{{ post.date  | date: "%Y-%m-%d %H:%M" }}">{{ post.date | date: "%B %d, %Y" }}</time>

      <p>{{ post.content | markdownify | strip_html | truncatewords: 35 }}</p>

      {% if post.mf-photo %}

      <figure>

        <img src="{{post.mf-photo}}" alt="" class="post-img">

      </figure>

      <!-- figcaption></figcaption -->

    {% endif %}

    </div>

  </article>

  {% endif %}

  {% endfor %}

</div>

{% for category in site.tags %}

<h2>{{ category[0] }}</h2>

<ul>

{% for post in category[1] %}

  <li>

      <a href="{{ post.url }}">{{ post.title }}</a>

      <p><b>Published on {{ post.date | date: '%B %d, %Y' }}</b></p>

  </li>

{% endfor %}

</ul>

{% endfor %}
