<!DOCTYPE html>
<html class="no-js" lang="{{site.lang}}">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0, viewport-fit=cover" name="viewport">{% if page.noindex %}
	<meta name="robots" content="noindex, nofollow">{% endif %}
	<meta content="article" name="og:type">
	<meta content="{{site.author-image}}?s=300" property="og:image">
	<meta content="{{site.author-image-alt}}" property="og:image:alt">
	<meta content="{{ page.title }}" property="og:title">{% if page.description %}
	<meta content="{{ page.description }}" name="description">
	<meta content="{{ page.description }}" property="og:description">{% endif %}
	<meta name="theme-color" content="#06416D">
	<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
	<link href="/manifest.json" rel="manifest">
	<link href="{{ page.url | replace:'index.html','' | prepend: site.url}}" rel="canonical">
	<link href="https://www.gravatar.com/avatar/89e429d4a3effa9601cd19a851c0003e.png?s=16" rel="icon">
	<link href="/rss.xml" rel="alternate" title="Michael Spellacy - The RSS Feed" type="application/rss+xml">
	<link href="https://webmention.herokuapp.com/api/webmention" rel="webmention">
	<title>{{ page.title }} - {{ site.title }}</title>
</head>

<body id="{{page.path | replace:'.html',''| replace: '/', '-'}}"{% if page.section %} class="{{ page.section }}"{% endif %}>

	<div id="page">

		<a href="#content" id="skip-nav">Skip to main content</a>

		<header id="banner">

			<a href="/">

				<img src="{{site.author-image}}?s=200" alt="{{site.author}}">

			</a>

		</header>

		<main id="content">

			<article>

				{{ content }}

			</article>

		</main>

		<footer>

			<ul id="social">
				<li><a href="{{site.social-github}}"><i class="fab fa-github"></i> Github</a></li>
				<li><a href="{{site.social-mastodon}}"><i class="fab fa-mastodon"></i> Mastodon</a></li>
				<li><a href="/rss.xml"><i class="fas fa-rss-square"></i> RSS</a></li>
				<li><a href="{{site.social-twitter}}"><i class="fab fa-twitter"></i> Twitter</a></li>
			</ul>

			<button id="share-button"><i class="fas fa-share"></i> Share this content</button> <!-- TODO: Script this in -->

			<p><small>&copy; 1973-{{ "now" | date: "%Y" }} Copyright Michael Spellacy. All rights reserved.</small></p>

			<p><small>Artwork by Grace Spellacy. Source code and site hosted on <a href="{{site.sorce-code}}">Github</a>.</small></p>

		</footer>

	</div><!--/#page-->

	<script src="/js/global.js"></script>

</body>
</html>
